html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}
.text-primary {
  color: #428bca;
}
a.text-primary:hover {
  color: #3071a9;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #428bca;
}
a.bg-primary:hover {
  background-color: #3071a9;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
table {
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f7f7f7;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.tab-content > .active {
  display: block;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #428bca;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
}
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-item {
  color: #555;
}
a.list-group-item .list-group-item-heading {
  color: #333;
}
a.list-group-item:hover,
a.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  color: #777;
  background-color: #eee;
}
.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
  color: inherit;
}
.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
  color: #777;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
  color: inherit;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #e1edf7;
}
.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}
a.list-group-item-success {
  color: #3c763d;
}
a.list-group-item-success .list-group-item-heading {
  color: inherit;
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}
a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}
.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}
a.list-group-item-info {
  color: #31708f;
}
a.list-group-item-info .list-group-item-heading {
  color: inherit;
}
a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #31708f;
  background-color: #c4e3f3;
}
a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}
.list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
a.list-group-item-warning {
  color: #8a6d3b;
}
a.list-group-item-warning .list-group-item-heading {
  color: inherit;
}
a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}
a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}
.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}
a.list-group-item-danger {
  color: #a94442;
}
a.list-group-item-danger .list-group-item-heading {
  color: inherit;
}
a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}
a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}
.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.block-thumbnail{
	display: block;
    max-width:100px;
    max-height: 100px;
    width: auto;
    height: auto;
}
a.link:hover,
.item-episode h4,
.ep-details {
  color: #0b90bc;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Droid Sans", Verdana, Arial, sans-serif;
}
body.page-settings,
body.page-edit,
body.page-stats,
body.page-profile,
body.page-account,
body.page-add,
body.page-detail,
body.content,
body.page-content,
body.page-empty {
  background-color: #f6f6f6;
}
body.x-backdrop {
  background-size: cover;
}
body.x-backdrop #toolbar,
body.x-backdrop .static-content {
  background: url("../images/bg-white-opac-90.png");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Droid Sans", Verdana, Arial, sans-serif;
}
h1 {
  font-size: 30px;
  margin: 20px 0;
}
h2 {
  font-size: 24px;
  margin: 10px 0;
}
.container {
  width: 100% !important;
}
.core .wrap {
  padding-bottom: 50px;
}
.core .static-content {
  max-width: 960px;
  margin: 0 auto;
}
.lightColor,
a.link:hover{
  color: #0b90bc;
}
.page-detail .appbar-extra,
.page-settings .appbar-extra,
.page-edit .appbar-extra,
.page-account .appbar-extra,
.page-stats .appbar-extra,
.page-content .appbar-extra,
.content .appbar-extra {
  margin: 0 auto;
  max-width: 960px;
}
body.content .site-footer,
body.content .appbar,
body.app-content .site-footer,
body.app-content .appbar {
  background: #086B8C;
}
body.content .appbar-searchbar-toggle,
body.content .appbar-settings,
body.content .appbar-toolbar-toggle,
body.content #add-menu .searchbar-container input:focus,
body.content table input[type="text"]:focus,
body.content table input[type="number"]:focus,
body.content #personal-notes:active,
body.content .add-item-field-defaults input[type="text"]:focus,
body.content #personal-notes:focus,
body.app-content .appbar-searchbar-toggle,
body.app-content .appbar-settings,
body.app-content .appbar-toolbar-toggle,
body.app-content #add-menu .searchbar-container input:focus,
body.app-content table input[type="text"]:focus,
body.app-content table input[type="number"]:focus,
body.app-content #personal-notes:active,
body.app-content .add-item-field-defaults input[type="text"]:focus,
body.app-content #personal-notes:focus {
  border-color: #086B8C;
}
body.content .topbar,
body.app-content .topbar {
  border-color: #086B8C;
}
body.music .appbar-button:hover {
  background: #e7a249;
}
body.music .appbar-button:focus,
body.music .appbar-button:active {
  background: #df8a1d;
}
body.music .site-footer,
body.music .appbar {
  background: #e49632;
}
body.music .appbar-searchbar-toggle,
body.music .appbar-settings,
body.music .appbar-toolbar-toggle,
body.music #add-menu .searchbar-container input:focus,
body.music table input[type="text"]:focus,
body.music table input[type="number"]:focus,
body.music #personal-notes:active,
body.music .add-item-field-defaults input[type="text"]:focus,
body.music #personal-notes:focus {
  border-color: #e49632;
}
body.music .topbar {
  border-color: #b8853d;
}
body.game .appbar-button:hover {
  background: #e3495d;
}
body.game .appbar-button:focus,
body.game .appbar-button:active {
  background: #d92138;
}
body.game .site-footer,
body.game .appbar {
  background: #e03349;
}
body.game .appbar-searchbar-toggle,
body.game .appbar-settings,
body.game .appbar-toolbar-toggle,
body.game #add-menu .searchbar-container input:focus,
body.game table input[type="text"]:focus,
body.game table input[type="number"]:focus,
body.game #personal-notes:active,
body.game .add-item-field-defaults input[type="text"]:focus,
body.game #personal-notes:focus {
  border-color: #e03349;
}
body.game .topbar {
  border-color: #c21e33;
}
body.book .appbar-button:hover {
  background: #a24697;
}
body.book .appbar-button:focus,
body.book .appbar-button:active {
  background: #7e3675;
}
body.book .site-footer,
body.book .appbar {
  background: #903e86;
}
body.book .appbar-searchbar-toggle,
body.book .appbar-settings,
body.book .appbar-toolbar-toggle,
body.book #add-menu .searchbar-container input:focus,
body.book table input[type="text"]:focus,
body.book table input[type="number"]:focus,
body.book #personal-notes:active,
body.book .add-item-field-defaults input[type="text"]:focus,
body.book #personal-notes:focus {
  border-color: #903e86;
}
body.book .topbar {
  border-color: #5e2a5e;
}
.page-detail #info-message,
.page-detail #toolbar .container,
.page-settings #info-message,
.page-settings #toolbar .container,
.page-edit #info-message,
.page-edit #toolbar .container,
.page-account #info-message,
.page-account #toolbar .container,
.page-stats #info-message,
.page-stats #toolbar .container,
.page-content #info-message,
.page-content #toolbar .container {
  max-width: 960px;
}
.page-detail #toolbar .container,
.page-settings #toolbar .container,
.page-edit #toolbar .container,
.page-account #toolbar .container,
.page-stats #toolbar .container,
.page-content #toolbar .container {
  padding: 5px 5px;
}
#view-main .container {
  background: #f6f6f6;
  padding: 0 15px;
  position: relative;
}
#view-main .container.tabs {
  border-bottom: 1px solid #666666;
  z-index: 1;
}
#view-main .container.sticky {
  border-bottom: 1px solid #ddd;
  opacity: 0.9;
  box-shadow: 0 1px 3px #000;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1001;
}
.static-content {
  max-width: 960px;
  margin: 0 auto;
}
.section-title {
  cursor: pointer;
  font-weight: 100;
  color: white;
  padding: 10px;
  margin-bottom: 0px;
  transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}
.item-cover-container {
  background-color: white;
  border: 1px solid #DDDDDD;
  overflow: hidden;
  clear: both;
  height: 120px;
}
.title-book {
  background-color: #903e86;
}
.title-book:hover {
  background-color: #5e2a5e;
}
.title-music {
  background-color: #e49632;
}
.title-music:hover {
  background-color: #b8853d;
}
.title-game {
  background-color: #e03349;
}
.title-game:hover {
  background-color: #c21e33;
}
.page-add .static-content .page-title .add-section:hover {
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
}
.back-button {
  display: none;
  float: left;
  padding: 4px 8px 0px 0px;
  cursor: pointer;
}
.preview-panel .item-book h1 {
  font-size: 26px;
}
.game .col-platform {
  text-align: center;
}
.game table.result-list .item-platform-icon {
  display: inline-block;
}
.game .preview-panel .item-plot {
  width: 100%;
  float: none;
}
.book .preview-panel .item-pages {
  float: right;
}
.book .preview-panel .author-head {
  float: right;
  width: 66px;
}
.book .preview-panel .item-subjects {
  margin-top: 20px;
}
.music .preview-panel .disc-box {
  float: left;
  width: 50%;
}
.music .preview-panel .disc-box table {
  table-layout: fixed;
}
.music .preview-panel .disc-box .rank {
  width: 25px;
}
.music .preview-panel .disc-box .length {
  width: 50px;
}
.music .preview-panel .disc-box .track {
  width: auto;
}
.date-addon,
.artist-addon,
.author-addon {
  border: 0px;
  color: white;
  border-radius: 0px;
  cursor: pointer;
}
.page-detail .static-content {
  position: relative;
  background-color: #ffffff;
  padding: 50px;
  padding-top: 40px;
}
.page-detail .static-content .item-title {
  xposition: relative;
}
.page-detail .static-content .item-title h1 {
  margin-top: 0px;
}
.page-detail .static-content .item-image {
  padding-right: 30px;
  width: 278px;
  float: left;
}
.page-detail .static-content .item-frontcover,
.page-detail .static-content .item-backcover {
  width: 100%;
}
.page-detail .static-content .item-produceryear {
  margin-top: 0px;
}
.page-detail .static-content .item-controls {
  float: right;
  border: 1px solid #ddd;
  height: 100px;
  width: 100px;
}
.page-detail .static-content .item-crewbox,
.page-detail .static-content .item-castbox {
  padding-top: 20px;
}
.page-detail .static-content .item-crewbox th,
.page-detail .static-content .item-castbox th {
  padding-left: 0px;
}
.page-detail .static-content .item-crewbox td a,
.page-detail .static-content .item-crewbox th a,
.page-detail .static-content .item-castbox td a,
.page-detail .static-content .item-castbox th a {
  color: #000000;
}
.page-detail .static-content .item-crewbox tbody,
.page-detail .static-content .item-castbox tbody {
  border-bottom: solid 1px #ddd;
}
.page-detail .static-content .item-crewbox .col-director,
.page-detail .static-content .item-castbox .col-director {
  padding: 0px;
}
.page-detail .static-content .item-crewbox .col-director tbody,
.page-detail .static-content .item-castbox .col-director tbody {
  border-bottom: none;
}
.page-detail .static-content .item-crewbox .col-director tbody tr,
.page-detail .static-content .item-castbox .col-director tbody tr {
  border-bottom: solid 1px #ddd;
}
.page-detail .static-content .item-crewbox .col-director tbody tr.no-border,
.page-detail .static-content .item-castbox .col-director tbody tr.no-border {
  border-bottom: none;
}
.page-detail .static-content .item-crewbox .col-director tbody tr td,
.page-detail .static-content .item-castbox .col-director tbody tr td {
  line-height: 40px;
  padding-left: 8px;
}
.page-detail .static-content .col-actorhead {
  padding: 0;
  padding-right: 8px;
  width: 30px;
}
.page-detail .static-content .castcrewhead {
  width: 30px;
  height: 40px;
}
.page-detail .static-content .item-trailerbox {
  height: 300px;
  padding-bottom: 60px;
}
.page-detail .static-content .item-trailer {
  border: 0px;
  width: 100%;
  height: 100%;
}
.page-detail .static-content .item-editioninfo {
  margin-top: 10px;
}
.page-detail .static-content .item-editioninfo .item-logo {
  display: inline-block;
  vertical-align: -15%;
}
.page-detail .static-content .item-barcode {
  font-weight: bold;
  padding-left: 26px;
  background: url("../images/barcode.png") no-repeat;
  background-position: 0px -3px;
}
.page-detail .static-content .item-personalbox {
  margin-top: 10px;
}
.page-detail .static-content .item-personalbox table td {
  padding-left: 25px;
}
.page-detail .static-content .item-personalbox .personal.notes td {
  padding-left: 0px;
  padding-top: 10px;
}
.page-detail .static-content .item-personalbox .icon-colstat {
  display: inline-block;
  vertical-align: -15%;
  position: relative;
}
.page-detail .static-content .item-personalbox .fade {
  opacity: 1;
}
.page-detail .static-content .item-castbox,
.page-detail .static-content .item-crewbox,
.page-detail .static-content .item-plotbox,
.page-detail .static-content .item-trailerbox {
  padding-left: 0px;
}
.page-detail .static-content .item-myrating {
  font-size: 18px;
  padding-bottom: 10px;
  color: #F7B200;
}
.page-detail .static-content .item-editionbox .item-logo {
  display: inline-block;
  vertical-align: -25%;
}
.page-detail .static-content .item-tagbox .item-tag {
  display: inline-block;
  padding: 4px 10px;
  background: #EEEEEE;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #444444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  transition: all 0.25s;
  padding-left: 10px;
  border-radius: 4px;
}
.page-detail .static-content .item-tagbox .item-tag:hover {
  background: #ffffff;
  cursor: default;
}
.page-detail .static-content .item-genrebox,
.page-detail .static-content .item-tagbox {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}
.page-detail .static-content .more {
  float: right;
  font-size: 12px;
  padding-top: 8px;
}
.page-detail .static-content .item-interfacecontrols {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 140px;
}
.page-detail .static-content .item-interfacecontrols .interface-control {
  display: block;
  border: 0px;
  text-align: center;
  -webkit-border-radius: 0px;
  transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
  padding: 4px;
  padding-left: 40px;
  border-radius: 4px;
  text-align: left;
}
.page-detail .static-content .item-interfacecontrols .interface-control:hover {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.page-detail .static-content .item-interfacecontrols .interface-control:hover {
  background: #5cb85c;
}
.page-detail .static-content .item-interfacecontrols .control-delete {
  margin-top: 20px;
}
.page-detail .static-content .item-cover-container p.lead {
  margin-bottom: 0;
}
.page-detail .static-content .item-cover-container .toplist {
  padding-left: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #eee;
}
.page-detail .static-content #x-cover-front {
  display: inline;
}
.page-detail .static-content #x-cover-back {
  display: none;
}
.page-detail .static-content #x-cover-flip {
  position: absolute;
  margin: 10px;
  cursor: pointer;
  display: none;
}
.core.page-detail .static-content .item-trailerbox {
  height: 380px;
  padding-bottom: 60px;
}
.book.page-detail #author {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  xmin-height: 112px;
  margin-top: -10px;
  margin-bottom: 20px;
}
.book.page-detail #author h1 {
  margin: 5px 0px 8px 0px;
}
.book.page-detail #author .author-head {
  max-height: 100px;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
.book.page-detail .personal-details th {
  width: 80px;
  vertical-align: text-top;
}
.book.page-detail .item-barcodebox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.book.page-detail .item-productbox {
  padding-left: 0px;
}
.book.page-detail .item-productbox table {
  width: 100%;
}
.book.page-detail .item-productbox table td,
.book.page-detail .item-productbox table th {
  width: 50%;
}
.game.page-detail .item-logo.item-platform {
  display: inline-block;
}
.game.page-detail .item-logo.item-audiencerating {
  display: inline-block;
}
.game.page-detail .item-details4 {
  margin-top: 10px;
}
.game.page-detail .item-details4 img {
  margin-left: 5px;
}
.game.page-detail .item-details4 a:hover {
  text-decoration: none;
}
.game.page-detail .item-amazonbox {
  margin-top: 0px;
}
.music td.rank {
  width: 35px;
}
.music td.length {
  width: 55px;
}
.container.content {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
#view-content {
  overflow: hidden;
  margin: 0 auto;
}
#view-content.detail,
#view-content.list {
  margin-top: 5px;
}
.item-block {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  position: relative;
  float: left;
  width: 331px;
  height: 100px;
  margin: 0 5px 10px;
  background-color: #FCFCFC;
  border-bottom: 1px solid #848484;
  cursor: pointer;
}
.item-block:hover {
  box-shadow: 0 1px 3px #444;
}
.item-block .year {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.item-block .title {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 12px;
}
.item-block .title a {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  text-decoration: none;
  color: #086B8C;
  display: block;
}
.item-block .icon-colstat {
  bottom: 8px;
  right: 5px;
  font-size: 13px;
}
.item-block .item-editioninfo {
  position: absolute;
  left: 71px;
  bottom: 2px;
}
.item-block .item-logo.item-format {
  float: left;
}
.item-block .item-details {
  bottom: 29px;
  left: 71px;
  position: absolute;
}
.block-description {
  display: block;
}
.music .item-block .title a {
  width: auto;
  max-height: 35px;
}
.music .item-block .item-artist {
  font-weight: normal;
}
.music .item-block .item-editioninfo {
  left: 100px;
}
.music .item-block .item-details {
  left: 100px;
  bottom: 18px;
}
.music .item-block .block-thumbnail {
  width: 92px;
}
.music .item-block .item-discinfo {
  float: right;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 4px;
  padding: 0px 2px;
  color: #000000;
  border-radius: 2px;
  font-size: 12px;
}
.music .item-block .item-discinfo .nrtracks,
.music .item-block .item-discinfo .length {
  display: block;
}
.book .item-block .item-details {
  bottom: 18px;
}
.book .item-block .title a {
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px;
}
.book .item-block .item-author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px;
  font-weight: normal;
}
.book .item-block .item-isbn {
  font-size: 12px;
}
.game .item-block .title a {
  width: auto;
  height: 35px;
}
.game .item-block .item-editioninfo,
.game .item-block .item-details {
  position: static;
}
.game .item-block .item-details {
  height: 20px;
  overflow: hidden;
  margin-top: 12px;
}
.game .item-block .item-editioninfo {
  display: inline-block;
}
.game .item-block .block-thumbnail {
  width: auto;
  min-width: 62px;
}
.game .item-block .item-platform-icon {
  display: inline-block;
}
.game .item-block .item-platform-text {
  vertical-align: -22%;
}
.music .item-cover .cover-thumbnail,
.music .item-cover p.item-frontcover,
.item-cover[section=music] .cover-thumbnail,
.item-cover[section=music] p.item-frontcover {
  width: 108px;
}
.comic .cover-thumbnail,
.movie .cover-thumbnail {
  width: 74px;
}
.listview #view-content {
  margin-top: 0;
  padding: 0;
}
.listview #view-main table {
  margin-bottom: 0px;
  background-color: #fff;
}
.listview #view-main table tbody tr {
  cursor: pointer;
}
.listview #view-main table th.sort {
  background-color: #eee;
}
.listview #view-main table th.sortable {
  padding: 0px;
}
.listview #view-main table th.sortable a {
  padding: 5px;
  color: #000000;
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}
.listview #view-main table th.sortable:hover {
  background-color: #eee;
}
.listview #view-main table td {
  border: 0px;
  font-size:14px;
  border-left: 1px solid #DDDDDD;
}
.listview #view-main table td.item-title a,
.listview #view-main table th.item-title {
  color: #000000;
}
.listview .item-platformicon,
.listview .item-incollection {
  width: 35px;
}
.listview .item-platformicon .icon-colstat,
.listview .item-incollection .icon-colstat {
  position: relative;
  top: 5px;
  right: 0px;
}
.container.content.filter-menu-open #view-content.list {
  padding: 0px;
  margin-top: 0px;
}
body.page-home #content-heading {
  margin-bottom: 20px;
}
body.page-home #content-heading img {
  float: left;
}
body.page-home #content-heading div div {
  float: left;
  margin-left: 10px;
}
body.page-home #content-heading h1,
body.page-home #content-heading h2 {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
body.page-home #content-heading h2 {
  font-size: 20px;
  color: #086B8C;
}
body.page-home #content-data h2 {
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 5px;
}
body.page-home #content-data p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
body.page-home #content-data div.trigger-block a {
  color: #333;
  text-decoration: none;
  background: #eee;
  padding: 10px;
  margin-bottom: 20px;
  display: block;
  transition: all 0.25s;
}
body.page-home #content-data div.trigger-block a:hover {
  background-color: #f3f3f3;
  box-shadow: 0 6px 12px #444;
}
body.page-home #content-data div.trigger-block a:hover {
  padding-top: 8px;
  padding-bottom: 12px;
}
body.content .navbar-static-top > .container {
  margin: 0 auto;
  max-width: 960px;
}
body.content .appbar > .appbar-container {
  margin: 0 auto;
  max-width: 960px;
}
body.content .static-content {
  margin-top: 10px;
  position: relative;
  padding: 15px;
  background: #FFFFFF;
}
body.content.x-backdrop .static-content {
  background: url("../images/bg-white-opac-90.png");
}
body.content .seperator {
  width: 30%;
}
body.content #breadcrumb {
  padding: 7px;
}
body.content .toplist {
  overflow: hidden;
  padding-left: 5px;
  margin-bottom: 10px;
}
body.content table.result-list thead tr {
  height: 43px;
}
body.content table.result-list tbody tr {
  cursor: default;
}
body.content table.result-list tbody td {
  vertical-align: middle;
}
body.content table.result-list p.lead {
  margin: 0px;
  vertical-align: middle;
}
body.content table.result-list p.lead a {
  color: #000000;
}
body.content table.result-list .col-title {
  font-weight: bold;
  font-size: 16px;
}
body.content table.result-list .col-preview {
  width: 50px;
}
body.content table.result-list .item-preview {
  width: 100%;
}
body.content #newreleases .col-release,
body.content #newreleases .col-edition,
body.content #newreleases .col-barcode {
  display: none;
}
body.content #newreleases tbody tr {
  cursor: pointer;
}
body.content.book table#newreleases .col-release {
  width: 100px;
}
.page-signin #content,
.page-public #content {
  background: #f6f6f6;
}
.page-public p.lead {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.page-public .item-cover-container {
  height: auto;
  background: none;
  border: 0;
}
.page-public .toplist {
  padding-bottom: 10px;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.page-home .iphone-placeholder {
  height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.page-home #top-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 20px;
}
.page-home #top-title {
  font-size: 30px;
}
.page-home .top-apps {
  margin-top: 5px;
}
.page-home .top-apps .app-title {
  margin-top: 50px;
}
.page-home .top-apps .app-title img {
  padding-right: 10px;
}
.page-home .top-apps p.lead {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.page-home .app-col {
  transition: all 0.25s;
  display: block;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background: #fefefe;
  padding: 20px;
  overflow: hidden;
  text-decoration: none;
}
.page-home .app-col img {
  float: left;
}
.page-home .app-col p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  padding-left: 80px;
  padding-top: 17px;
}
.page-home .app-col p .title {
  font-weight: bold;
  font-size: 16px;
}
.page-home .app-col:hover {
  background: #eee;
}
.page-home .static-content {
  padding-top: 40px;
}
.page-home .box-calltoaction .item-title {
  margin-top: 60px;
  margin-bottom: 10px;
}
.page-home .item-logo {
  display: inline-block;
  height: 56px;
  width: 56px;
}
.page-home .item-title {
  display: inline-block;
}
.page-home .item-title h1 {
  margin-left: 20px;
  margin: 0;
}
.page-home .content-searchbox {
  margin-bottom: 10px;
}
.page-home .toplist {
  max-height: 230px;
}
.page-home p.lead {
  margin-bottom: 0px;
}
.page-product #top-text {
  text-align: left;
  padding-left: 0px;
  padding-top: 0px;
}
.page-database #top-text {
  text-align: left;
  padding: 0px 0px 20px;
}
.page-database .toplist {
  max-height: 230px;
}
.page-database .item-logo {
  display: inline-block;
}
.page-database #social-share {
  margin-top: 10px;
}
.page-database table.item-editions .col-releasedate {
  width: 90px;
}
.page-database .item-plotbox,
.page-database .item-episodebox {
  padding-bottom: 10px;
}
.page-database .platform-list {
  text-align: center;
  overflow: hidden;
  height: 210px;
}
.page-database .platform-list .logo {
  display: inline-block;
  padding: 20px;
  margin: 2px;
}
.page-database .platform-list .logo.active,
.page-database .platform-list .logo:hover {
  box-shadow: 0 1px 3px #444;
}
.page-search .result-list tbody tr:hover {
  cursor: pointer;
}
.page-search .item-platform {
  display: inline-block;
}
body.content.page-series .seperator,
body.content.page-detail .seperator {
  width: 100%;
}
.page-series .col-xs-1,
.page-series .col-sm-1,
.page-series .col-md-1,
.page-series .col-lg-1,
.page-series .col-xs-2,
.page-series .col-sm-2,
.page-series .col-md-2,
.page-series .col-lg-2,
.page-series .col-xs-3,
.page-series .col-sm-3,
.page-series .col-md-3,
.page-series .col-lg-3,
.page-series .col-xs-4,
.page-series .col-sm-4,
.page-series .col-md-4,
.page-series .col-lg-4,
.page-series .col-xs-5,
.page-series .col-sm-5,
.page-series .col-md-5,
.page-series .col-lg-5,
.page-series .col-xs-6,
.page-series .col-sm-6,
.page-series .col-md-6,
.page-series .col-lg-6,
.page-series .col-xs-7,
.page-series .col-sm-7,
.page-series .col-md-7,
.page-series .col-lg-7,
.page-series .col-xs-8,
.page-series .col-sm-8,
.page-series .col-md-8,
.page-series .col-lg-8,
.page-series .col-xs-9,
.page-series .col-sm-9,
.page-series .col-md-9,
.page-series .col-lg-9,
.page-series .col-xs-10,
.page-series .col-sm-10,
.page-series .col-md-10,
.page-series .col-lg-10,
.page-series .col-xs-11,
.page-series .col-sm-11,
.page-series .col-md-11,
.page-series .col-lg-11,
.page-series .col-xs-12,
.page-series .col-sm-12,
.page-series .col-md-12,
.page-series .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.page-series .item-block {
  width: 100%;
  border: 1px solid #ddd;
  margin-left: 0px;
  margin-right: 0px;
}
.page-series .item-block .item-details {
  bottom: auto;
  padding-right: 5px;
}
.page-series .item-block .title a {
  width: auto;
}
.page-series .viewtype-container {
  border: 1px solid #ddd;
}
.page-series #view-content.coverview {
  padding-left: 10px;
}
.page-series .nav-series {
  display: none;
}
.core.page-series .item-block .item-details {
  bottom: 0px;
  padding-right: 5px;
}
.page-platform .nav-firstletter {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.page-platform .nav-firstletter .letter {
  display: inline-block;
  transition: all 0.25s;
  text-decoration: none;
  padding: 2px 10px;
  background: #5EB1DE;
  color: #FFFFFF;
  margin: 5px;
}
.page-platform .nav-firstletter .letter:hover {
  background: #298fc7;
}
.page-platform .nav-firstletter .letter.active {
  background: #DDDDDD;
}
.page-platform .nav-firstletter .letter.active:hover {
  background: #EEEEEE;
}
#content-data #form-register {
  margin: 0 auto;
  background: #FFFFFF;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #DDDDDD;
  box-shadow: 2px 2px 2px #DDDDDD;
}
#content-data #form-register ul,
#content-data #form-register ol {
  list-style-type: none;
  padding: 0px;
}
#content-data #form-register ul.errors {
  color: #e03349;
}
#content-data #form-register input[type="text"]:focus,
#content-data #form-register [type="password"]:focus {
  border-color: #5EB1DE;
}
.page-register h4 {
  margin-top: 30px;
}
.page-register #form-register .errors {
  margin-bottom: 10px;
}
.page-privacy .static-content,
.page-tos .static-content,
.page-content .static-content {
  background: #fff;
  padding-top: 0px;
}
.page-privacy .static-content h1,
.page-privacy .static-content h2,
.page-privacy .static-content h3,
.page-privacy .static-content h4,
.page-privacy .static-content h5,
.page-tos .static-content h1,
.page-tos .static-content h2,
.page-tos .static-content h3,
.page-tos .static-content h4,
.page-tos .static-content h5,
.page-content .static-content h1,
.page-content .static-content h2,
.page-content .static-content h3,
.page-content .static-content h4,
.page-content .static-content h5 {
  color: #086B8C;
}
.page-content .static-content {
  padding: 20px 50px;
  margin-top: 10px;
}
.item-logo {
  display: block;
  opacity: .80;
  background-image: url("../images/logos/logo-sprite.png");
  background-position: -9999px -9999px;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  margin-right: 3px;
  margin-bottom: 3px;
}
.item-logo.item-format {
  width: auto;
}
.item-logo.item-format {
  width: auto;
  margin: 3px 2px 0px 0px;
}
.item-logo.item-format.format1,
.item-logo.item-format.format7,
.item-logo.item-format.format9 {
  background-position: -330px 0px;
  width: 34px;
  text-indent: -99999px;
}
.item-logo.item-format.format2 {
  background-position: -605px 0px;
  width: 30px;
  text-indent: -99999px;
}
.item-logo.item-format.format3 {
  background-position: -505px 0px;
  width: 23px;
  text-indent: -99999px;
}
.item-logo.item-format.format5 {
  background-position: -565px 0px;
  width: 35px;
  text-indent: -99999px;
}
.item-logo.item-format.format6 {
  background-position: -300px 0px;
  width: 25px;
  text-indent: -99999px;
}
.item-logo.item-format.format10 {
  background-position: -370px 0px;
  width: 63px;
  text-indent: -99999px;
}
.item-logo.item-format.format15 {
  background-position: -640px 0px;
  width: 17px;
  text-indent: -99999px;
}
.item-logo.item-format.format16 {
  background-position: -220px 0px;
  width: 15px;
  text-indent: -99999px;
}
.item-logo.item-format.format17 {
  background-position: -240px 0px;
  width: 15px;
  text-indent: -99999px;
}
.item-logo.item-format.format18 {
  background-position: -535px 0px;
  width: 15px;
  text-indent: -99999px;
}
.item-logo.item-format.format13 {
  background-position: -440px 0px;
  width: 58px;
  text-indent: -99999px;
}
.item-logo.item-format.format14 {
  background-position: -260px 0px;
  width: 33px;
  text-indent: -99999px;
}
.format1590 {
  display: none;
}
.item-logo.item-audio.audio1,
.item-logo.item-audio.audio3,
.item-logo.item-audio.audio4,
.item-logo.item-audio.audio9,
.item-logo.item-audio.audio13,
.item-logo.item-audio.audio14,
.item-logo.item-audio.audio15,
.item-logo.item-audio.audio16,
.item-logo.item-audio.audio32,
.item-logo.item-audio.audio34,
.item-logo.item-audio.audio35,
.item-logo.item-audio.audio43,
.item-logo.item-audio.audio45,
.item-logo.item-audio.audio51,
.item-logo.item-audio.audio52,
.item-logo.item-audio.audio57,
.item-logo.item-audio.audio6,
.item-logo.item-audio.audio7,
.item-logo.item-audio.audio17,
.item-logo.item-audio.audio46,
.item-logo.item-audio.audio50 {
  background-position: 0 0;
  width: 42px;
}
.item-logo.item-audio.audio2,
.item-logo.item-audio.audio11,
.item-logo.item-audio.audio37,
.item-logo.item-audio.audio40,
.item-logo.item-audio.audio44,
.item-logo.item-audio.audio47,
.item-logo.item-audio.audio48,
.item-logo.item-audio.audio49,
.item-logo.item-audio.audio53,
.item-logo.item-audio.audio54,
.item-logo.item-audio.audio55,
.item-logo.item-audio.audio56,
.item-logo.item-audio.audio58 {
  background-position: -50px 0;
  width: 35px;
}
.item-logo.item-audio.audio41 {
  background-position: -90px 0;
  width: 46px;
}
.item-logo.item-audio.audio42 {
  background-position: -145px 0;
  width: 23px;
}
.item-logo.item-audio.hide {
  display: none;
}
.item-logo.item-ratio.ratio3,
.item-logo.item-ratio.ratio6,
.item-logo.item-ratio.ratio7,
.item-logo.item-ratio.ratio32,
.item-logo.item-ratio.ratio34 {
  background-position: -1735px 0;
  width: 20px;
}
.item-logo.item-ratio.ratio5,
.item-logo.item-ratio.ratio8,
.item-logo.item-ratio.ratio19,
.item-logo.item-ratio.ratio21,
.item-logo.item-ratio.ratio22,
.item-logo.item-ratio.ratio23,
.item-logo.item-ratio.ratio24,
.item-logo.item-ratio.ratio28,
.item-logo.item-ratio.ratio29,
.item-logo.item-ratio.ratio31,
.item-logo.item-ratio.ratio33 {
  background-position: -1810px 0;
  width: 20px;
}
.item-logo.item-ratio.ratio20,
.item-logo.item-ratio.ratio25,
.item-logo.item-ratio.ratio26,
.item-logo.item-ratio.ratio27,
.item-logo.item-ratio.ratio30,
.item-logo.item-ratio.ratio36 {
  background-position: -1760px 0;
  width: 41px;
}
.item-logo.item-audiencerating.audiencerating1,
.item-logo.item-audiencerating.audiencerating56,
.item-logo.item-audiencerating.audiencerating47,
.item-logo.item-audiencerating.audiencerating10,
.item-logo.item-audiencerating.audiencerating60,
.item-logo.item-audiencerating.audiencerating3,
.item-logo.item-audiencerating.audiencerating51,
.item-logo.item-audiencerating.audiencerating58,
.item-logo.item-audiencerating.audiencerating42 {
  background-position: -870px 0;
}
.item-logo.item-audiencerating.audiencerating2,
.item-logo.item-audiencerating.audiencerating17 {
  background-position: -1380px 0;
  width: 18px;
}
.item-logo.item-audiencerating.audiencerating3 {
  background-position: -1320px 0;
  width: 52px;
}
.item-logo.item-audiencerating.audiencerating7,
.item-logo.item-audiencerating.audiencerating43,
.item-logo.item-audiencerating.audiencerating57 {
  background-position: -1285px 0;
  width: 29px;
}
.item-logo.item-audiencerating.audiencerating8,
.item-logo.item-audiencerating.audiencerating13 {
  background-position: -990px 0;
}
.item-logo.item-audiencerating.audiencerating15 {
  background-position: -1145px 0;
  width: 49px;
}
.item-logo.item-audiencerating.audiencerating4 {
  background-position: -1530px 0;
}
.item-logo.item-audiencerating.audiencerating5,
.item-logo.item-audiencerating.audiencerating9,
.item-logo.item-audiencerating.audiencerating14,
.item-logo.item-audiencerating.audiencerating19,
.item-logo.item-audiencerating.audiencerating20,
.item-logo.item-audiencerating.audiencerating16 {
  background-position: -1200px 0;
  width: 37px;
}
.item-logo.item-audiencerating.audiencerating35 {
  background-position: -665px 0;
}
.item-logo.item-audiencerating.audiencerating31 {
  background-position: -685px 0;
}
.item-logo.item-audiencerating.audiencerating26 {
  background-position: -725px 0;
}
.item-logo.item-audiencerating.audiencerating52 {
  background-position: -745px 0;
  width: 19px;
}
.item-logo.item-audiencerating.audiencerating32 {
  background-position: -770px 0;
}
.item-logo.item-audiencerating.audiencerating27 {
  background-position: -810px 0;
}
.item-logo.item-audiencerating.audiencerating33,
.item-logo.item-audiencerating.audiencerating59 {
  background-position: -850px 0;
}
.item-logo.item-audiencerating.audiencerating25 {
  background-position: -1510px 0;
}
.item-logo.item-audiencerating.audiencerating36 {
  background-position: -890px 0;
}
.item-logo.item-audiencerating.audiencerating41 {
  background-position: -1010px 0;
}
.item-logo.item-audiencerating.audiencerating50 {
  background-position: -1240px 0;
  width: 38px;
}
.item-logo.item-audiencerating.audiencerating46 {
  background-position: -1435px 0;
  width: 17px;
}
.item-logo.item-audiencerating.audiencerating48 {
  background-position: -1485px 0;
  width: 17px;
}
.item-logo.item-audiencerating.audiencerating49 {
  background-position: -1460px 0;
  width: 17px;
}
.item-logo.item-audiencerating.audiencerating30 {
  background-position: -910px 0;
}
.item-logo.item-audiencerating.audiencerating28 {
  background-position: -930px 0;
}
.item-logo.item-audiencerating.audiencerating29 {
  background-position: -950px 0;
}
.item-logo.item-audiencerating.audiencerating37 {
  background-position: -970px 0;
}
.item-logo.item-audiencerating.audiencerating6 {
  background-position: -1030px 0;
  width: 25px;
}
.item-logo.item-audiencerating.audiencerating12 {
  background-position: -1060px 0;
  width: 30px;
}
.item-logo.item-audiencerating.audiencerating11 {
  background-position: -1095px 0;
  width: 25px;
}
.item-logo.item-audiencerating.audiencerating53 {
  background-position: -705px 0;
}
.item-logo.item-audiencerating.audiencerating54 {
  background-position: -790px 0;
}
.item-logo.item-audiencerating.audiencerating55 {
  background-position: -830px 0;
}
.item-logo.item-audiencerating.audiencerating44 {
  background-position: -1125px 0;
}
.item-logo.item-audiencerating.audiencerating45 {
  background-position: -1405px 0;
  width: 22px;
}
.item-logo.item-platform {
  height: 23px;
  background-image: url("./images/platform-sprite.png");
}
.item-logo.item-platform.platform62 {
  width: 70px;
  background-position: -23px 0px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform58,
.item-logo.item-platform.platform74 {
  width: 95px;
  background-position: -23px -25px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform106 {
  width: 83px;
  background-position: -23px -50px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform64 {
  width: 95px;
  background-position: -23px -75px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform111 {
  width: 206px;
  background-position: -23px -100px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform57,
.item-logo.item-platform.platform76,
.item-logo.item-platform.platform77,
.item-logo.item-platform.platform78,
.item-logo.item-platform.platform101,
.item-logo.item-platform.platform105,
.item-logo.item-platform.platform108 {
  width: 89px;
  background-position: -23px -125px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform87 {
  width: 155px;
  background-position: -23px -150px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform97 {
  width: 78px;
  background-position: -23px -175px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform68 {
  width: 71px;
  background-position: -23px -200px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform45,
.item-logo.item-platform.platform79,
.item-logo.item-platform.platform100 {
  width: 103px;
  background-position: -23px -225px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform17,
.item-logo.item-platform.platform18 {
  width: 106px;
  background-position: -23px -250px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform75 {
  width: 85px;
  background-position: -23px -275px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform98 {
  width: 132px;
  background-position: -23px -300px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform26 {
  width: 203px;
  background-position: -23px -325px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform22 {
  width: 122px;
  background-position: -23px -350px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform24 {
  width: 186px;
  background-position: -23px -375px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform21 {
  width: 128px;
  background-position: -23px -400px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform25 {
  width: 86px;
  background-position: -23px -425px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform67 {
  width: 33px;
  background-position: -23px -450px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform23 {
  width: 184px;
  background-position: -23px -475px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform47 {
  width: 83px;
  background-position: -23px -500px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform80 {
  width: 193px;
  background-position: -23px -525px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform69 {
  width: 154px;
  background-position: -23px -550px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform82 {
  width: 95px;
  background-position: -23px -575px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform56 {
  width: 64px;
  background-position: -23px -600px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform86 {
  width: 109px;
  background-position: -23px -625px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform27 {
  width: 41px;
  background-position: -23px -650px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform28 {
  width: 158px;
  background-position: -23px -675px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform55 {
  width: 61px;
  background-position: -23px -700px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform91 {
  width: 155px;
  background-position: -23px -725px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform81 {
  width: 214px;
  background-position: -23px -750px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform60 {
  width: 110px;
  background-position: -23px -1850px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform30,
.item-logo.item-platform.platform73 {
  width: 75px;
  background-position: -23px -775px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform46 {
  width: 96px;
  background-position: -23px -800px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform31 {
  width: 181px;
  background-position: -23px -825px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform29 {
  width: 133px;
  background-position: -23px -850px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform19 {
  width: 146px;
  background-position: -23px -875px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform116 {
  width: 195px;
  background-position: -23px -1825px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform102 {
  width: 51px;
  background-position: -23px -900px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform32 {
  width: 23px;
  background-position: -23px -925px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform103 {
  width: 43px;
  background-position: -23px -950px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform33 {
  width: 112px;
  background-position: -23px -975px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform94 {
  width: 79px;
  background-position: -23px -1000px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform35 {
  width: 111px;
  background-position: -23px -1025px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform36 {
  width: 115px;
  background-position: -23px -1050px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform92 {
  width: 162px;
  background-position: -23px -1075px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform37 {
  width: 107px;
  background-position: -23px -1100px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform89 {
  width: 80px;
  background-position: -23px -1125px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform49 {
  width: 158px;
  background-position: -23px -1150px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform59,
.item-logo.item-platform.platform61,
.item-logo.item-platform.platform63,
.item-logo.item-platform.platform90,
.item-logo.item-platform.platform110 {
  width: 70px;
  background-position: -23px -1175px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform48 {
  width: 169px;
  background-position: -23px -1200px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform107 {
  width: 34px;
  background-position: -23px -1225px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform50 {
  width: 115px;
  background-position: -23px -1250px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform38 {
  width: 91px;
  background-position: -23px -1275px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform99 {
  width: 96px;
  background-position: -23px -1300px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform83 {
  width: 44px;
  background-position: -23px -1325px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform70,
.item-logo.item-platform.platform84 {
  width: 16px;
  background-position: -23px -1350px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform66 {
  width: 95px;
  background-position: -23px -1375px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform85 {
  width: 104px;
  background-position: -23px -1400px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform93 {
  width: 41px;
  background-position: -23px -1425px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform104 {
  width: 74px;
  background-position: -23px -1450px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform39 {
  width: 85px;
  background-position: -23px -1475px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform109 {
  width: 88px;
  background-position: -23px -1500px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform88 {
  width: 50px;
  background-position: -23px -1525px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform65 {
  width: 26px;
  background-position: -23px -1550px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform41,
.item-logo.item-platform.platform42 {
  width: 145px;
  background-position: -23px -1575px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform72 {
  width: 117px;
  background-position: -23px -1600px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform43 {
  width: 129px;
  background-position: -23px -1625px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform44 {
  width: 144px;
  background-position: -23px -1650px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform51 {
  width: 151px;
  background-position: -23px -1675px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform126 {
  width: 90px;
  background-position: -23px -1725px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform127 {
  width: 150px;
  background-position: -23px -1800px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform148 {
  width: 90px;
}
.item-logo.item-platform.platform140 {
  width: 115px;
  background-position: -23px -1775px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform142 {
  width: 135px;
  background-position: -23px -1750px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform149 {
  width: 105px;
  background-position: -23px -1875px;
  text-indent: -99999px;
}
.item-logo.item-platform.platform151,
.item-logo.item-platform.platform162 {
  width: 205px;
  background-position: -23px -1900px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon {
  opacity: 1;
  height: 23px;
  width: 23px;
  background-image: url("./images/platform-sprite.png");
  background-position: 0px -1700px;
  text-indent: -99999px;
  margin: 0px;
}
.item-logo.item-platform-icon.platform62 {
  background-position: 0px 0px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform58,
.item-logo.item-platform-icon.platform74 {
  background-position: 0px -25px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform106 {
  background-position: 0px -50px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform64 {
  background-position: 0px -75px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform111 {
  background-position: 0px -100px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform57,
.item-logo.item-platform-icon.platform76,
.item-logo.item-platform-icon.platform77,
.item-logo.item-platform-icon.platform78,
.item-logo.item-platform-icon.platform101,
.item-logo.item-platform-icon.platform105,
.item-logo.item-platform-icon.platform108 {
  background-position: 0px -125px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform87 {
  background-position: 0px -150px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform97 {
  background-position: 0px -175px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform68 {
  background-position: 0px -200px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform45,
.item-logo.item-platform-icon.platform79,
.item-logo.item-platform-icon.platform100 {
  background-position: 0px -225px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform17,
.item-logo.item-platform-icon.platform18 {
  background-position: 0px -250px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform75 {
  background-position: 0px -275px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform98 {
  background-position: 0px -300px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform26 {
  background-position: 0px -325px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform22 {
  background-position: 0px -350px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform24 {
  background-position: 0px -375px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform21 {
  background-position: 0px -400px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform25 {
  background-position: 0px -425px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform67 {
  background-position: 0px -450px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform23 {
  background-position: 0px -475px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform47 {
  background-position: 0px -500px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform80 {
  background-position: 0px -525px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform69 {
  background-position: 0px -550px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform82 {
  background-position: 0px -575px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform56 {
  background-position: 0px -600px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform86 {
  background-position: 0px -625px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform27 {
  background-position: 0px -650px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform28 {
  background-position: 0px -675px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform55 {
  background-position: 0px -700px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform91 {
  background-position: 0px -725px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform81 {
  background-position: 0px -750px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform60 {
  background-position: 0px -1850px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform30,
.item-logo.item-platform-icon.platform73 {
  background-position: 0px -775px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform46 {
  background-position: 0px -800px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform31 {
  background-position: 0px -825px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform29 {
  background-position: 0px -850px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform116 {
  background-position: 0px -1825px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform19 {
  background-position: 0px -875px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform102 {
  background-position: 0px -900px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform32 {
  background-position: 0px -925px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform103 {
  background-position: 0px -950px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform33 {
  background-position: 0px -975px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform94 {
  background-position: 0px -1000px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform35 {
  background-position: 0px -1025px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform36 {
  background-position: 0px -1050px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform92 {
  background-position: 0px -1075px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform37 {
  background-position: 0px -1100px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform89 {
  background-position: 0px -1125px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform49 {
  background-position: 0px -1150px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform59,
.item-logo.item-platform-icon.platform61,
.item-logo.item-platform-icon.platform63,
.item-logo.item-platform-icon.platform90,
.item-logo.item-platform-icon.platform110 {
  background-position: 0px -1175px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform48 {
  background-position: 0px -1200px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform107 {
  background-position: 0px -1225px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform50 {
  background-position: 0px -1250px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform38 {
  background-position: 0px -1275px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform99 {
  background-position: 0px -1300px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform83 {
  background-position: 0px -1325px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform70,
.item-logo.item-platform-icon.platform84 {
  background-position: 0px -1350px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform66 {
  background-position: 0px -1375px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform85 {
  background-position: 0px -1400px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform93 {
  background-position: 0px -1425px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform104 {
  background-position: 0px -1450px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform39 {
  background-position: 0px -1475px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform109 {
  background-position: 0px -1500px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform88 {
  background-position: 0px -1525px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform65 {
  background-position: 0px -1550px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform41,
.item-logo.item-platform-icon.platform42 {
  background-position: 0px -1575px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform72 {
  background-position: 0px -1600px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform43 {
  background-position: 0px -1625px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform44 {
  background-position: 0px -1650px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform51 {
  background-position: 0px -1675px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform126 {
  background-position: 0px -1725px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform127 {
  background-position: 0px -1800px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform140 {
  background-position: 0px -1775px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform142 {
  background-position: 0px -1750px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform149 {
  background-position: 0px -1875px;
  text-indent: -99999px;
}
.item-logo.item-platform-icon.platform151,
.item-logo.item-platform-icon.platform162 {
  background-position: 0px -1900px;
  text-indent: -99999px;
}
.item-logo.item-audiencerating.audiencerating1,
.item-logo.item-audiencerating.audiencerating56,
.item-logo.item-audiencerating.audiencerating47,
.item-logo.item-audiencerating.audiencerating10,
.item-logo.item-audiencerating.audiencerating60,
.item-logo.item-audiencerating.audiencerating3,
.item-logo.item-audiencerating.audiencerating51,
.item-logo.item-audiencerating.audiencerating58,
.item-logo.item-audiencerating.audiencerating42 {
  background-position: -870px 0px;
}
.item-logo.item-audiencerating.audiencerating2,
.item-logo.item-audiencerating.audiencerating17 {
  background-position: -1380px 0px;
  width: 18px;
}
.item-logo.item-audiencerating.audiencerating3 {
  background-position: -1320px 0px;
  width: 52px;
}
.item-logo.item-audiencerating.audiencerating7,
.item-logo.item-audiencerating.audiencerating43,
.item-logo.item-audiencerating.audiencerating57 {
  background-position: -1285px 0px;
  width: 29px;
}
.item-logo.item-audiencerating.audiencerating8,
.item-logo.item-audiencerating.audiencerating13 {
  background-position: -990px 0px;
}
.item-logo.item-audiencerating.audiencerating15 {
  background-position: -1145px 0px;
  width: 49px;
}
.item-logo.item-audiencerating.audiencerating4 {
  background-position: -1530px 0px;
}
.item-logo.item-audiencerating.audiencerating5,
.item-logo.item-audiencerating.audiencerating9,
.item-logo.item-audiencerating.audiencerating14,
.item-logo.item-audiencerating.audiencerating19,
.item-logo.item-audiencerating.audiencerating20,
.item-logo.item-audiencerating.audiencerating16 {
  background-position: -1200px 0px;
  width: 37px;
}
.item-logo.item-audiencerating.audiencerating35 {
  background-position: -665px 0px;
}
.item-logo.item-audiencerating.audiencerating31 {
  background-position: -685px 0px;
}
.item-logo.item-audiencerating.audiencerating26 {
  background-position: -725px 0px;
}
.item-logo.item-audiencerating.audiencerating52 {
  background-position: -745px 0px;
  width: 19px;
}
.item-logo.item-audiencerating.audiencerating32 {
  background-position: -770px 0px;
}
.item-logo.item-audiencerating.audiencerating27 {
  background-position: -810px 0px;
}
.item-logo.item-audiencerating.audiencerating33,
.item-logo.item-audiencerating.audiencerating59 {
  background-position: -850px 0px;
}
.item-logo.item-audiencerating.audiencerating25 {
  background-position: -1510px 0px;
}
.item-logo.item-audiencerating.audiencerating36 {
  background-position: -890px 0px;
}
.item-logo.item-audiencerating.audiencerating41 {
  background-position: -1010px 0px;
}
.item-logo.item-audiencerating.audiencerating50 {
  background-position: -1240px 0px;
  width: 38px;
}
.item-logo.item-audiencerating.audiencerating46 {
  background-position: -1435px 0px;
  width: 17px;
}
.item-logo.item-audiencerating.audiencerating48 {
  background-position: -1485px 0px;
  width: 17px;
}
.item-logo.item-audiencerating.audiencerating49 {
  background-position: -1460px 0px;
  width: 17px;
}
.item-logo.item-audiencerating.audiencerating30 {
  background-position: -910px 0px;
}
.item-logo.item-audiencerating.audiencerating28 {
  background-position: -930px 0px;
}
.item-logo.item-audiencerating.audiencerating29 {
  background-position: -950px 0px;
}
.item-logo.item-audiencerating.audiencerating37 {
  background-position: -970px 0px;
}
.item-logo.item-audiencerating.audiencerating6 {
  background-position: -1030px 0px;
  width: 25px;
}
.item-logo.item-audiencerating.audiencerating12 {
  background-position: -1060px 0px;
  width: 30px;
}
.item-logo.item-audiencerating.audiencerating11 {
  background-position: -1095px 0px;
  width: 25px;
}
.item-logo.item-audiencerating.audiencerating53 {
  background-position: -705px 0px;
}
.item-logo.item-audiencerating.audiencerating54 {
  background-position: -790px 0px;
}
.item-logo.item-audiencerating.audiencerating55 {
  background-position: -830px 0px;
}
.item-logo.item-audiencerating.audiencerating44 {
  background-position: -1125px 0px;
}
.item-logo.item-audiencerating.audiencerating45 {
  background-position: -1405px 0px;
  width: 22px;
}
.game .item-logo.item-audiencerating {
  height: 15px;
  margin-top: 4px;
  width: auto;
  background-image: url("./images/game_audiencerating_sprite.png");
}
.game .item-logo.item-audiencerating.audiencerating73 {
  background-position: 0px 0px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating49,
.game .item-logo.item-audiencerating.audiencerating24 {
  background-position: 0px -15px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating74 {
  background-position: 0px -30px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating69,
.game .item-logo.item-audiencerating.audiencerating44 {
  background-position: 0px -45px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating50,
.game .item-logo.item-audiencerating.audiencerating31 {
  background-position: 0px -60px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating34 {
  background-position: 0px -75px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating66 {
  background-position: 0px -90px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating52,
.game .item-logo.item-audiencerating.audiencerating25 {
  background-position: 0px -105px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating75 {
  background-position: 0px -120px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating51,
.game .item-logo.item-audiencerating.audiencerating28 {
  background-position: 0px -135px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating65,
.game .item-logo.item-audiencerating.audiencerating83 {
  background-position: 0px -150px;
  width: 22px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating54,
.game .item-logo.item-audiencerating.audiencerating26,
.game .item-logo.item-audiencerating.audiencerating81 {
  background-position: 0px -165px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating76 {
  background-position: 0px -180px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating52,
.game .item-logo.item-audiencerating.audiencerating32 {
  background-position: 0px -195px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating84 {
  background-position: 0px -210px;
  width: 26px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating77 {
  background-position: 0px -225px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating56,
.game .item-logo.item-audiencerating.audiencerating30,
.game .item-logo.item-audiencerating.audiencerating62 {
  background-position: 0px -240px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating22 {
  background-position: 0px -255px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating21 {
  background-position: 0px -270px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating16,
.game .item-logo.item-audiencerating.audiencerating43 {
  background-position: 0px -285px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating78,
.game .item-logo.item-audiencerating.audiencerating79,
.game .item-logo.item-audiencerating.audiencerating70 {
  background-position: 0px -300px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating67 {
  background-position: 0px -315px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating20 {
  background-position: 0px -330px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating68 {
  background-position: 0px -345px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating17 {
  background-position: 0px -360px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating64 {
  background-position: 0px -375px;
  width: 35px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating23,
.game .item-logo.item-audiencerating.audiencerating72 {
  background-position: 0px -390px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating41 {
  background-position: 0px -405px;
  width: 15px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating71 {
  background-position: 0px -420px;
  width: 19px;
  text-indent: -99999px;
}
.game .item-logo.item-audiencerating.audiencerating18 {
  background-position: 0px -435px;
  width: 15px;
  text-indent: -99999px;
}
.icon-colstat {
  position: absolute;
  color: #058ebf;
}
.colstat1:before {
  content: "\e014";
}
.colstat2:before {
  content: "\e032";
}
.colstat3:before {
  content: "\e013";
}
.colstat4:before {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-weight: bold;
  vertical-align: 5%;
  font-size: 16px;
  content: "$";
}
.colstat5:before {
  content: "\e116";
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background: #444;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  z-index: 1004;
}
.back-to-top:hover,
.back-to-top:focus,
.back-to-top:active {
  color: #fff;
  text-decoration: none;
}
.site-footer {
  font-size: 12px;
  color: #FFFFFF;
  margin-top: -30px;
  min-height: 30px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  z-index: 1002;
  position: relative;
}
.site-footer a {
  color: #fff;
}
.site-footer p {
  margin: 0;
}
.site-footer .container {
  margin-top: 8px;
}
.pagejump {
  display: none;
}
#view-nav {
  display: none;
}
.topbar.scrolling-up,
.appbar.scrolling-up {
  position: fixed;
  width: 100%;
}
.appbar.scrolling-up {
  top: 50px;
}
.inline-block {
  display: inline-block;
}
.offset-left-10 {
  margin-left: 10px;
}
.offset-right-10 {
  margin-right: 10px;
}
a:focus {
  outline: none;
}
.topbar-section-button,
.font-upper,
.appbar-button,
.toolbar-button,
.filtertab-az li a {
  font-variant: small-caps;
  text-transform: lowercase;
}
.lightbox {
  cursor: pointer;
  transition: all 0.25s;
}
#lightbox-container {
  background-color: rgba(0,0,0,0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}
#lightbox-img {
  position: absolute;
  max-width: 90%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
}
